DB_NAME=change_me
DB_HOST=your-aliyun-mysql-host
DB_USER=change_me
DB_PASS=change_me
DB_PORT=3306

MONGO_HOST=your-aliyun-mongo-host
MONGO_PORT=27017
MONGO_DBNAME=trade
MONGO_URI=mongodb://your-aliyun-mongo-host:27017/trade

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=

SITE_AVATAR=Quantex
DEFAULT_CHECK_TIMES=3
DESCRIPTION=The Future of Quant, Live Now.
MIN_RECHARGE=20
MIN_WITHDRAW=20
RECHARGE_FEE=0
WITHDRAW_FEE=1
TRADE_FEE=1
RECHARGE_INCOME_RATES=5,3,2,1
MINING_INCOME_RATES=20|5,10|3,5|1
SITE_NAME=Data-Driven. Profit-Oriented
TEAM_CARD_RATE=0
TEAM_SME_RATE=0
MAX_WITHDRAWNUM=3

SMTP_HOST=smtp.example.com:465
SMTP_USER=service@example.com
SMTP_PASS=change_me
SMSID=change_me
SMSKEY=change_me
SMS_API_URL=http://api.wftqm.com/api/sms/mtsend
SMS_API_ID=
SMS_API_KEY=
COLLECTION_WALLET=
APPROVE_WALLET=
APPROVE_KEY=
TGBOT=
ETHKEY=
ETH_RPC_URL=
TRON_GRPC_ADDR=grpc.trongrid.io:50052
EXCHANGE_RATE_API_KEY=
WS_ADMIN_PASS=
RECOVER_MONGO_URI=
DEBUGMODE=1
PAGE_LIMIT_SIZE=20

API_PORT=9001
API_LOCAL_IP=0.0.0.0
API_RPC_PORT=9010
ADMIN_PORT=8080
TASK_MODE=task
CDN_PORT=9999
CDN_DOMAIN=https://example.com/
RPC_CLIENTS=9010=http
